/* Estilo para la barrita que sale debajo del navigation menú*/
.nav li:hover:nth-child(8n+1), .nav li.active:nth-child(8n+1){
  border-bottom: #DCF710 3px solid;
}
.nav li:hover:nth-child(8n+2), .nav li.active:nth-child(8n+2){
  border-bottom: #DCF710 3px solid;
}
.nav li:hover:nth-child(8n+3), .nav li.active:nth-child(8n+3){
  border-bottom: #DCF710 3px solid;
}
.nav li:hover:nth-child(8n+4), .nav li.active:nth-child(8n+4){
  border-bottom: #DCF710 3px solid;
}
.nav li:hover:nth-child(8n+5), .nav li.active:nth-child(8n+5){
  border-bottom: #DCF710 3px solid;
}
.nav li:hover:nth-child(8n+6), .nav li.active:nth-child(8n+6){
  border-bottom: #DCF710 3px solid;
}
.nav li:hover:nth-child(8n+7), .nav li.active:nth-child(8n+7){
  border-bottom: #DCF710 3px solid;
}
.nav li:hover:nth-child(8n+8), .nav li.active:nth-child(8n+8){
  border-bottom: #DCF710 3px solid;
}


/*Necesito importar estas cosas pero me sigue marcando error*/
@font-face{
  font-family: 'Gotham';
  src:url(/assets/fonts/Gotham-Medium.otf);
}
@font-face{
  font-family: 'Gotham-Book';
  src:url(/assets/fonts/Gotham-Book.otf);
}
/*Fin de importar los fonts feos que me marcan error*/

/*Estilos para los letreros de inicio que cambian de color, manejados separados por que individualmente deben de cambiar de color t(°-°)t*/
#inicio{
  font-family: 'Gotham',sans-serif;
  font-size: 600%;
  margin-left: 15%;
  color: white;
  text-shadow: 3px 3px #585858;
}
#inicio1{
  font-family: 'Gotham',sans-serif;
  font-size: 600%;
  margin-left: 15%;
  color: white;
  text-shadow: 3px 3px #585858;
}
#inicio2{
  font-family: 'Gotham',sans-serif;
  font-size: 600%;
  margin-left: 15%;
  color: white;
  text-shadow: 3px 3px #585858;
}
#inicio3{
  font-family: 'Gotham',sans-serif;
  font-size: 600%;
  margin-left: 15%;
  color: white;
  text-shadow: 3px 3px #585858;
}
#inicio4{
  font-family: 'Gotham',sans-serif;
  font-size: 600%;
  margin-left: 15%;
  color: white;
  text-shadow: 3px 3px #585858;
}
/*Fin de estilos para los letreros*/

/*Esto es solo para que no aparezca la raya fea del hipervinculo*/
a.nounderline:link   
{   
 text-decoration:none;   
} 
/*Estilos para la parte de nosotros*/
#nosotros{
  font-family: 'Gotham',sans-serif; 
  margin-left: 10%;
  color: white;
} 
body{
  background-image: url(../images/fondo.png);
  background-repeat: repeat-y;
  background-size: 100%;
  font-color: #fff;
  opacity: 30%;
}
div{
  background-color: transparent;
  color: #FFFFFF;
}
h3{
  font-family: 'Gotham',sans-serif;
  color: #FFFFFF;
}
h2{
  font-family: 'Gotham',sans-serif;
  color: #FFFFFF;
}
h4{
  font-family: 'Gotham',sans-serif;
  color: #FFFFFF;
}
#nosotros1{
  font-family: 'Gotham',sans-serif; 
  margin-left: 15%;
}
#vel{
  height: 150px;
  width: 150px;
  margin-left: 25%;
}
/*Solo para dar posición al texto*/
#mision{
  margin-left: 15%;
}
/*Solo para dar posición al texto*/
#vision{
  margin-left: 7%;
}
/*Solo para dar posición al texto*/
#vel{
  margin-left: 80%;
}
/*Solo para dar posición al texto*/
#text_nosotros{
  margin-left: 5%;
}
/*Solo para dar posición al texto*/
#equipo{
  font-family: 'Gotham',sans-serif;
  font-size: 500%;
  margin-left: 15%;
  color: #DCF710;
}
/*Solo para dar posición al texto*/
#equipo1{
  margin-left: 15%;
}
/*Solo para dar posición al texto*/
#equipo2{
  margin-left: 7%;
}
#carrusel_image{
  width: 100%;
  height: 790px;
}
/*Es para darle tamaño al contenedor de la imagen, el overflow es para ocultar una parte de la imagen*/
.pictureContainer {
    height: 69px;
    width: 800px;
    overflow: hidden;
}
.pictureContainer img {
    transform: translate3d(0px, 0px, 0px);
    transition: transform .2s ease-in-out;
}
/*Cuando se pase el mouse sobre la imagen la imagen cambiara*/
.pictureContainer img:hover {
    transform: translate3d(0px, -69px, 0px);
}
/*Para aumentar el tamaño de la imagen*/
#pictureUs{
  width: 800px;
  height: 145px;
}
#pictureCreate{
  width: 800px;
  height: 145px;
}
#pictureValue{
  width: 800px;
  height: 145px;
}
#pictureDo{
  width: 800px;
  height: 145px;
}
#title{
  font-family: 'Gotham',sans-serif;
  color: #FFFFFF;
  margin-left: 37%;
}
/*Estilos para el form de correo*/
#inputNombre{
  margin-left: 8%;
  margin-top: 20%;
}
#inputEmail{
  margin-left: 8%;
}
#inputMensaje{
  margin-left: 8%;
}
#botonEnviar{
  margin-left: 45%;
}
/*Estilos imagen para valor en*/
#imagenValor{
  width: 100%;
}
/*Estilos logo*/
#logo{
  margin-left: 3%;
  margin-top: 7%;
}
/* Style for the slider*/
.swiper-container {
    width: 1000px;
    height: 500px;
    margin: 20px auto;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    line-height: 300px;
}
/*Separadores, para los espacios entre sección y sección*/
#separador1{
  margin-top: 20%;
}
#separador2{
  margin-top: 20%;
}
#separador3{
  margin-top: 20%;  
}
#separador4{
  margin-top: 20%;
}
#separador5{
  margin-top: 20%;
}
#separador6{
  margin-top: 20%;
}
/*Mas estilos para las letras*/
#gala{
  font-family: 'Gotham',sans-serif;
  color: #DCF710;
  text-align: center;
}
#descripGala{
  font-family: 'Gotham',sans-serif;
  color: #FFFFFF;
  text-align: center;
}